.mainPage{
   padding: 15px;
   position: relative;
}

.cardInfoList{
   padding-bottom: 15px;
}

.mainContent{
   display: flex;
   justify-content: space-between;
}

.messages{
   width: 34%;
}

.leftSideContent{
   width: 64%;
}

.listItem{
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
}

.userList{
   width: 49%;
}

.toDoList{
   width: 49%;
}

.sideDrawer{
   position: absolute;
   right: 0;
   top: 23px;
   padding: 4px;
   border-radius: 15px 0 0 15px;
   background: #1AB394;
}