.orderStatistics{
    background: #FFF;
    margin-bottom: 15px;
}

.header{
    border-top: 3px solid #E7EAEC;
    border-bottom: 1px solid #F2F3F5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 15px;
    font-weight: 500;
}



.statistisInfo{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.graphicImg{
    display: block;
    width: 100%;
    height: auto;
}

.graphInfo{
    width: 68%;
}

.orderList{
    width: 30%;
}
